@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.75);
}

section form {
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
}

input {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.section-profile {
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
}

.profile, .product-container {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

/* MODAL EDIT */
.update-icon {
    color: rgb(1, 77, 1);
    margin-right: .5rem;
}

.delete-icon {
    color: rgb(156, 2, 2);
}

.delete-icon:hover, .update-icon:hover {
    opacity: 0.3;
}
  